html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  background-color: #F7F2DE;
  color: #0B0A08;
  align-items: center;
 
}

.skip-link {
  position: absolute;
  left: -999px;
  z-index: 1000;    
}

/* text */

h1 {
  font-weight: normal;
  font-family: "Frank Ruhl Libre";
  font-size: 36px;
  
}

h1 a {
    all: unset; 
    display: inline; 
    color: inherit;
    cursor: default;
}

h2 {
  font-weight: normal;
  font-family: "Arimo", sans-serif;
  font-size: 36px;
  
}

h3 {
  font-weight: normal;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
}

p {
    font-family: "Frank Ruhl Libre";
}

.text1 {
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

.text2 {
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  padding-right: 40px; 
}

.text3 {
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  color: grey;
  margin-bottom: 10px;
  margin-left: 10px; 
}

.text4 {
  width: 600px;
  margin-top: 30px;
  margin-bottom: 45px;
}

/* nav */

nav {
  background-color: #F7F2DE;
  padding: 1px 15px 1px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  height: 87px;
 
}

.nav-button {
  border: 0px;
  background: none;
  font-size: 20px;

}

.nav-button:hover {
  opacity: 40%;
}

.basket {
  background-color: #008F51;
  font-family: "Arimo", sans-serif;
  padding: 10px 20px;
  border-radius: 19px;
  justify-content: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #008F51;
  width: 500px;
  height: 850px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-family: "Arimo", sans-serif;
  font-size: 40px;
  text-align: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-logo {
  display: none;
}


.menubtn {
  background: none;
  border: none;
  font-size: 30px;
  padding: 20px;
  padding-left: 30px;
  
}

.menubtn:hover {
  opacity: 40%;
}

.prod {
  margin-top: 150px;
}

.checkout {
  margin-top: 300px;
}

.dropdown-content a:hover {
  text-decoration: underline;
}
.show {display:block;}


/* main section */

.partneringfarms {
  width: 400px;
  height: 600px;
  justify-content: center;
  text-align: center;
  background-color: #F7F2DE;
  padding-left: 90px;
  padding: 98px 98px;
  border-right: 1px solid black;
}

.partneringfarms h2 {
 padding-top: 200px; 
}

.columns2 {
  background-color: #F7F2DE;
  display: flex;
  text-align: center;
  border-top: 1px solid;
}

.wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.produce {
 position: relative;
  width: 455px;
}

.imagewrapper {
  position: relative;
  width: 100%;
  max-width: 455px;
  height: 432px;
}

.producelist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 29px;
  
}

.producewrap {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  padding-top: 90px;
}

.produceheader {
    margin: 0;
    padding: 0;               
}

.produceimg {
  width: 455px;
  height: 432px;
  object-fit: cover; 
  border-radius: 16px;
}

.producebtn {
  font-family: "Arimo", sans-serif;
  background-color: #0B0A08;
  color: white;
  border-radius: 44px;
  padding: 10px 16px 10px 16px;
  border: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.producebtn:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.textcontainer {
}

.produce-info {
  display: flex;
  justify-content: space-between; }


/* map */

.mapcontainer {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  
}

#map {
  width: 70%;
  height: 100%;
  border-radius: 16px;
  
}

/* form */

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px; 
}

input {
  width: 400px;
  padding: 15px;
  margin: 0px;
  border-radius: 3px;
  border: 0px;
   
}

.formbtn {
  width: 430px;
  padding: 15px;
  border-radius: 3px;
  border: 0px;
  margin-top: 0px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.error-msg {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

/* footer */

footer {
  font-family: "Frank Ruhl Libre";
  background-color: #DC4131;
  color: white;
  margin-top: auto; 
  padding: 20px;
  font-size: 20px;
  width: 100%;
  
}

footer h2 {
  padding-left: 20px;
}

.footertext {
  width: 400px;
  padding-left: 20px;
}

.footerline {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  padding-left: 20px;
}






/* MOBILE VERSION */


@media screen and (max-width: 768px) {
 
  h1 { font-size: 24px; }
  h2 { font-size: 18px; }
  h3, h4, p, .text1, .text2 { font-size: 16px; padding-left: 10px; } 
  
  .text4 { 
    padding-left: 10px; 
    width: 350px; 
    font-size: 18px; }
  .text3 { 
    margin-bottom: 0; 
    margin-top: 0;
    padding: 0 4px;
  }
  
    .produce-info {
    margin-top: 8px;
    padding: 0 4px;
  }
    
  
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 16px;
  }

  .nav-button {
    font-size: 18px;
  }
  
   .producebtn {
    position: absolute;
    bottom: 55px;
    right: 16px;
    padding: 10px 16px;
    font-size: 16px;
  }

 .dropdown-content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #008F51;
  z-index: 1001;
  overflow-y: auto;
  flex-direction: column;
}

.dropdown-content.show {
  display: flex;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  border-bottom: 2px solid black;
}

.dropdown-logo {
  font-family: "Frank Ruhl Libre", serif;
  color: black;
  font-size: 28px;
  margin: 0;
  align-items: center;
  padding-left: 70px;
}
  
  
  
  .dropdown-content a {
  font-family: "Arimo", sans-serif;
  font-size: 28px;
  text-align: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;

  }
   
  .prod {
  margin-top: 100px;
}

.checkout {
  margin-top: 200px;
}

  
    .columns2 {
    flex-direction: column;
    border-top: 1px solid;
    
    
  }
  
    .partneringfarms {
    height: auto;
    padding: 60px 0;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid;
    
  }

  .partneringfarms h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

  
  .produceheader {
    font-size: 24px;
    font-family: "Arimo", sans-serif;
    padding-left: 10px;
    
  }

  .producewrap {
    width: 100%;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 90px;
    box-sizing: border-box;
    margin: 0 auto; 
  }
  
  .producelist {
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;
  }
  
  .produce {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    
  }
  
  .produceimg {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    display: block;
    object-fit: cover;

  }
  
  .imagewrapper {
    width: 100%;
    height: 300px;
    border-radius: 16px;
  }
 
  
  .producebtn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 10px 16px;
    font-size: 16px;
  }
  
   .mapcontainer {
    flex-direction: column;
    padding-top: 4px;
  }

  #map {
    width: 80%;
    height: 100%;
    margin: 65px 25px;
  }
  
  
  form {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 0;
}
  
  input {
    width: 78%;
    max-width: 100%;
    height: 30px;
  }
  
 .formbtn {
    width: 86%;
    max-width: 100%;
    height: 45px;
    margin-top: 0;
  }

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.error-msg {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

 footer {
  padding: 20px;
  font-size: 20px;
  width: 100%;
  
}
  
  footer h2 {
    padding-left: 10px;
    font-size: 24px;
  }
  
  footer h1 {
  font-size: 34px;
  }

.footertext {
  width: 330px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footerline {
  border-bottom: 1px solid white;
  padding-bottom: 32px;
  padding-left: 10px;
}
  
  
}
  